<div class="top-menu"></div>
<div class="wrapper">
  <div class="col-left cell">Left</div>
  <div class="col-right">
    <div class="right-center">
      <div class="center cell">Center</div>
      <div class="right cell">Right</div>
    </div>
    <div class="bottom cell">
      <p-tabView>
        <p-tabPanel header="Header 1">
          Content 1
        </p-tabPanel>
        <p-tabPanel header="Header 2">
          Content 2
        </p-tabPanel>
        <p-tabPanel header="Header 3">
          Content 3
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
